<div class="container-outer" fxLayout="column" fxLayout.lt-md="column" fxLayoutAlign="center stretch">
    <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center stretch">
        <div class=" container-inner" fxFlex="20" fxFlex.md="20">
            <app-bodyleft></app-bodyleft>
        </div>
        <div class=" container-inner" fxFlex="100" fxFlex.md="100">
            <app-bodycenter></app-bodycenter>
        </div>
        <div class=" container-inner" fxFlex="20" fxFlex.md="20">
            <app-bodyright></app-bodyright>
        </div>
    </div>
</div>